<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Artist</key>
		<string>贾斯汀比伯</string>
		<key>Song</key>
		<string>baby</string>
		<key>Image</key>
		<string>14</string>
	</dict>
	<dict>
		<key>Artist</key>
		<string>贾斯汀比伯</string>
		<key>Song</key>
		<string>baby</string>
		<key>Image</key>
		<string>18</string>
	</dict>
	<dict>
		<key>Artist</key>
		<string>贾斯汀比伯</string>
		<key>Song</key>
		<string>baby</string>
		<key>Image</key>
		<string>20</string>
	</dict>
</array>
</plist>
